<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vue js Test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div id="app">
        <div class="shadow-lg p-3 mx-5 my-2 bg-white rounded">
            {{ message }}
            <button type="button" class="btn btn-primary" @click="do1()">Do 1</button>
            <button type="button" class="btn btn-danger" @click="do2()">Do 2</button>
        </div>
        <div v-if="tooltip_visible" class="shadow-lg p-3 mx-5 my-2 bg-white rounded">
            Larger shadow
        </div>
        <div class="shadow-lg p-3 mx-5 my-2 bg-white rounded">
            <ol>
                <li v-for="todo in todos">
                    {{todo.text}}
                </li>
            </ol>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                tooltip_visible: false,
                todos: [
                    { text: 'Learn JavaScript' },
                    { text: 'Learn Vue' },
                    { text: 'Build something awesome' }
                ]
            },
            methods: {
                do1() {
                    console.log("do 1");
                    this.tooltip_visible = true;
                },
                do2() {
                    console.log("do 2");
                    this.tooltip_visible = false;
                }
            },
        })


    </script>
</body>

</html>