<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vue js Test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div id="app">
        <div class="shadow   p-3 mx-5 my-2 bg-secondary rounded  ">
            {{ message }}
            <button type="button" class="btn btn-primary" @click="show()">Show</button>
            <button type="button" class="btn btn-danger" @click="hide()">Hide</button>
        </div>
        <div v-if="tooltip_visible" class="shadow  p-3 mx-5 my-2 bg-warning rounded row">
			<div class="col-lg-10">
				Some Data is Changed. Please confirm what you done.
			</div>
			<div class="col-lg-2 text-right">
				<button type="button" class="btn btn-primary " @click="apply()">Apply</button>
				<button type="button" class="btn btn-danger" @click="cancel()">Cancel</button>
			</div>
        </div>
        <div class="shadow   p-3 mx-5 my-2 bg-white rounded">
            <ol>
                <li v-for="todo in todos">
                    <div>{{todo.text}}<input v-model="todo.text" @change="change(todo.id)" />

                    </div>
                </li>
            </ol>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
				count:4,
                message: 'Hello Vue!',
                tooltip_visible: false,
                todos: [
                    {id:0, text: 'Learn JavaScript' },
                    {id:1, text: 'Learn Vue' },
                    {id:2, text: 'Build something awesome' }
                ]
            },
            methods: {
                show() {
                    console.log("show");
                    this.tooltip_visible = true;
                    this.todos.push({ id:this.count,text: "New todos." });
					this.count++;
                },
                hide() {
                    console.log("hide");
                    this.tooltip_visible = false;
                    this.todos.pop();
                }, apply() {
                    console.log("Apply");

                }, cancel() {
                    console.log("cancel");

                }, change(id) {
                    console.log(id+" something changed");
                    this.tooltip_visible = true;
                }

            },
        })


    </script>
</body>

</html>